body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffeb3b; /* Change the default link color to yellow */
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff; /* Change link color to white on hover */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

section a {
    color: #ffeb3b; /* Set link color to yellow within sections */
    text-decoration: underline; /* Add underline for visibility */
}

section a:hover {
    color: #fff; /* Set link color to white on hover within sections */
}

h2 {
    color: #ffeb3b;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #fff;
}

footer a {
    color: #ffeb3b; /* Change link color in footer to yellow */
    text-decoration: underline;
}

footer a:hover {
    color: #fff; /* Change link color to white on hover in footer */
}
